/*Exercic 1 y parametres Globals*/
.num {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    display: block;
    font-size: 1.5em;
    line-height: 3em;
    text-align: center;
    width: 3em;
}
hr {
    border: 2px solid black;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
}

.container1 > div {
    flex: 0 0 25%;
    height: 125px;
}

/*Exercici 2*/
.num2 {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 1.5em;
}
.container2 > div {
    flex: 0 0 25%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Colors globals*/
.color1 {
    background-color: rgb(187, 220, 53);
}
.color2 {
    background-color: forestgreen;
}
.color3 {
    background-color: rgb(159, 198, 159);
}
.color4 {
    background-color: darkgreen;
}
.color5 {
    background-color: rgb(10, 16, 0);
}